<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
</head>
<body>
    <h1>Guia de perguntas</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <p>Nome: <%= nome %></p>
    <p>Linguagem: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Inscritos: <%= inscritos %></p>


    <% if(msg == true){ %>
        <h3>Isso é uma msg de erro!</h3>
    <% } else {%>    
        <h3>Nenhum erro!</h3>
    <% }%>


    <!-- Para cada elemento dentro do foreach execute uma função -->
    <!-- Para cada elemento recebe um produto -->
    <% produtos.forEach(function(produto){ %>
        <hr>
        <h4><%= produto.nome %></h4>
        <h5><%= produto.preco %></h5>
    <%}) %>
</body>
</html>